.product-grid {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    margin-bottom: 15px;
     
}
.titre{
    padding: 15px;
    margin-top: 10px;
}

.product-card {
    flex: 0 1 calc(25% - 20px); /* Ajuste la largeur des produits pour 4 par ligne */
    background-color: #fff;
    border: 1px solid #ddd;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; 
}

.product-image {
    width: 100%; /* Image prend toute la largeur */
    height: 200px; /* Hauteur fixe */
    object-fit: cover; /* Garder les proportions de l'image */
}

.product-title,
.product-price {
    margin: 10px;
}
@media (max-width: 992px) {
    .product-card {
        flex: 0 1 calc(33.33% - 20px); /* 3 produits par ligne */
    }
}

@media (max-width: 768px) {
    .product-card {
        flex: 0 1 calc(50% - 20px); /* 2 produits par ligne */
    }
}

@media (max-width: 480px) {
    .product-card {
        flex: 0 1 100%; /* 1 produit par ligne */
    }
}
